/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
flex_monorepo_workspace-*.tar
/packages/*/tmp/
/packages/*/_build/
/packages/*/deps/
/packages/*/erl_crash.dump
/packages/*/*.ez
/priv/static/
